.input {
  width: 300px;
  border: 1px solid var(--white);
  border-radius: 6px;
  padding: 10px 15px;
  background-color: transparent;
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  -webkit-appearance: none;
  appearance: none;
}

.input::placeholder {
  color: var(--fuchsia);
}

.input:focus {
  outline: none;
  border-color: var(--white);
  box-shadow: 0 0 5px var(--white);
}
