{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "env": {
    "es2017": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "max-len": [2, 140],
    "@typescript-eslint/no-unused-vars": 2,
    "no-console": "error",
    "@typescript-eslint/no-unnecessary-type-constraint": 1
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}
