.button {
    width: 100%;
    display: block;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 9px 15px;
    color: var(--fuchsia);
    font-size: 20px;
    font-weight: 300;
    font-family: inherit;
    margin-bottom: 15px;
}

.button_type_submit {
    background-color: var(--yellow);
    cursor: pointer;
    opacity: 0.8;
}

.button_type_submit:hover {
    opacity: 1;
    box-shadow: 0 0 5px var(--yellow);
}
