<div class="chat-content-container">
  \{{#if currentChatId}}
    \{{#if isCreatingChat}}
      \{{{ChatCreator}}}
    \{{else}}
      \{{{ChatContent chatId=currentChatId}}}
    \{{/if}}
  \{{else}}
    <div class="chat-content-container_type_empty">
      <h3>Для начала общения выберите чат</h3>
    </div>
  \{{/if}}
</div>
