.input-decorator__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  color: var(--white);
}

.input-decorator__label {
  font-size: 24px;
  width: 250px;
  margin-right: 25px;
}
