{{!< default }}

<nav class="page_list">
    <ul>
        <li>{{> 'link/link' class="link_type_large" href='signin.hbs' text='Страница регистрации'}}</li>
        <li>{{> 'link/link' class="link_type_large" href='login.hbs' text='Страница авторизации'}}</li>
        <li>{{> 'link/link' class="link_type_large" href='404.hbs' text='Страница 404 ошибки'}}</li>
        <li>{{> 'link/link' class="link_type_large" href='505.hbs' text='Страница 505 ошибки'}}</li>
        <li>{{> 'link/link' class="link_type_large" href='profile.hbs' text='Профиль пользователя'}}</li>
    </ul>
</nav>
