{{!< default }}

<div class="page_list">
    {{> 'link/link' class="link_type_large" href='signin.hbs' text='Страница регистрации'}}
    {{> 'link/link' class="link_type_large" href='login.hbs' text='Страница авторизации'}}
    {{> 'link/link' class="link_type_large" href='404.hbs' text='Страница 404 ошибки'}}
    {{> 'link/link' class="link_type_large" href='505.hbs' text='Страница 505 ошибки'}}
    {{> 'link/link' class="link_type_large" href='profile.hbs' text='Профиль пользователя'}}
</div>
