{{!< default }}

<div class="header">Добро пожаловать</div>
<form id="signin" action="" method="post" class="form">
    {{> 'label/label' label='Логин' type='text' name='login' placeholder='ivanovanov'}}
    {{> 'label/label' label='Пароль' type='password' name='password' placeholder='***'}}
    {{> 'button/button' type='submit' text='Войти'}}
</form>
