{{!< default }}

<h1 class="header">Добро пожаловать</h1>
<form id="signin" action="" method="post" class="form">
  {{> 'label/label' label='Логин' type='text' name='login' placeholder='ivanovanov'}}
  {{> 'label/label' label='Пароль' type='password' name='password' placeholder='***'}}
  {{> 'button/button' type='submit' text='Войти'}}
</form>
