{{!< profile }}

<div class="profile">
    {{> 'avatar/avatar' text="СТ"}}
    <div class="header">Саня</div>
    <div class="profile_info">
        {{> 'info/info' label="Почта" text="terehin@yandex.ru"}}
        {{> 'info/info' label="Имя" text="Александр"}}
        {{> 'info/info' label="Фамилия" text="Терёхин"}}
        {{> 'info/info' label="Логин" text="Саня"}}
        {{> 'info/info' label="Имя в чате" text="Саня"}}
        {{> 'info/info' label="Телефон" text="+7 978 146 151 7"}}
    </div>
    <div class="profile_buttons">
        {{> 'button/button' type='' text='Изменить данные'}}
        {{> 'button/button' type='' text='Изменить пароль'}}
        {{> 'button/button' type='' text='Выйти'}}
    </div>
</div>
