{{!< default }}

<div class="header">Регистрация</div>
<form id="signin" action="" method="post" class="form">
    {{> 'label/label' label='Почта' type='text' name='email' placeholder='pochta@yandex.ru'}}
    {{> 'label/label' label='Логин' type='text' name='login' placeholder='ivanovanov'}}
    {{> 'label/label' label='Имя' type='text' name='name' placeholder='Иван'}}
    {{> 'label/label' label='Фамилия' type='text' name='surname' placeholder='Иванов'}}
    {{> 'label/label' label='Телефон' type='text' name='phone' placeholder='+7***'}}
    {{> 'label/label' label='Пароль' type='password' name='password' placeholder='***'}}
    {{> 'label/label' label='Пароль (еще раз)' type='password' name='password_duble' placeholder='***'}}
    {{> 'button/button' type='submit' text='Зарегистроваться'}}
</form>
