.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.chat-item:hover {
  box-shadow: 0 0 5px var(--blue);
}

.chat-item__about {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  font-size: 18px;
}

.chat-item__about_type_reverse {
  color: var(--grey);
}

.about__status {
  color: var(--greylight);
  font-size: 14px;
}
