.chatItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chatItem__about {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  font-size: 18px;
}

.chatItem__about_type_reverse {
  color: var(--grey);
}

.about__status {
  color: var(--greylight);
  font-size: 14px;
}
