.icon {
  height:150px;
  width:150px;
  border-radius:150px;
  background: var(--white);
  opacity: 1;
  text-align: center;
  line-height: 150px;
  margin-bottom: 30px;
  color: var(--greylight);
  border: 1px solid var(--greylight);
  margin: 0 auto;
  font-size: 20px;
}
