.iconUser {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  background: var(--white);
  opacity: 1;
  text-align: center;
  line-height: 150px;
  color: var(--greylight);
  border: 1px solid var(--greylight);
  margin: 0 auto 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.iconUser_size_s {
  height: 50px;
  width: 50px;
  font-size: 10px;
  line-height: 50px;
  margin: 0;
}
