@import url("../node_modules/normalize.css/normalize.css");
@import url("./variables.css");

body {
  color: var(--white);
  font-size: 20px;
  margin: 0;
}

.main-container {
  background: var(--milk);
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page.page_type_green {
  background-color: var(--green);
}

/* .page_type_loading::after {
  content: 'awesome loader...';
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fffffff5;
  position: absolute;
} */

.page__wrapper {
  flex: 1;
  display: flex;
}

.page__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
}

.page__link {
  color: var(--blue);
  list-style: none;
  font-size: 25px;
}

.page__link a {
  color: var(--blue);
  text-decoration: none;
}

.page__link a:hover {
  text-decoration: underline;
}
