@import '../node_modules/normalize.css/normalize.css';
@import './variables.css';

body {
    color: var(--white);
    font-size: 20px;
    margin: 0;
}

.main-container {
    background: linear-gradient(#fccd18, #eb7195, #8c1bab);
    display: flex;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.header {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_buttons {
    width: 100%
}

.pages_list {
    font-size: 24px;
    color: var(--white);
}
