@import '../node_modules/normalize.css/normalize.css';
@import './variables.css';
@import './components/label/label.css';
@import './components/error/error.css';
@import './components/button/button.css';
@import './components/link/link.css';
@import './components/sidebar/sidebar.css';
@import './components/avatar/avatar.css';
@import './components/info/info.css';

body {
    color: var(--white);
    font-size: 20px;
    margin: 0;
}

.main-container {
    background: linear-gradient(#fccd18, #eb7195, #8c1bab);
    display: flex;
    min-height: 100vh;
}


.main-container_type_default {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.main_content_type_profile {
    align-items: center;
    width: 100%;
}

.header {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_buttons {
    width: 100%
}

.pages_list {
    font-size: 24px;
    color: var(--white);
}
