<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pushka</title>
	<link rel="stylesheet" href="../style.css">
</head>
<body>
	<main class="main-container main-container_type_profile">
		{{> 'sidebar/sidebar' href='index.hbs'}}
		<div class="main_content main_content_type_profile">
			{{{body}}}
		</div>
	</main>
</body>
</html>
